@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: #222831;
    --color-foreground: #393E46;
    --color-primary: #00C896;
    --color-primary-text: #EEEEEE;
    --color-secondary-text: #00C896;

    
}

body{
    background-color: var(--color-background);
    color: var(--color-primary-text);
}